.AuthGuard {
  flex: 1;
  gap: 12px;
  display: flex;
  color: #6b6b70;
  font-size: 14px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  svg {
    color: #5750e8;
    font-size: 24px;
  }
}
