@use "../../../../styles/form";

.AuthForm {
  &__form {
    gap: 16px;
    display: flex;
    flex-direction: column;
    &__field {
      @include form.field;
    }
    &__error {
      @include form.alert;
    }
    &__submit {
      width: 100%;
      margin-top: 8px;
    }
  }
  &__switch {
    color: #6b6b70;
    font-size: 14px;
    margin-top: 24px;
    text-align: center;
    a {
      color: #5750e8;
      font-weight: 600;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
